:root {
    --red: #f63232;
    --light-gray: #e7e7e7;
    --tile-orange: #fcb514;
    --text-gray: #4b4b4b;
    color-scheme: light;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif
}

body {
    background-color: aliceblue;
    font-size: 18px;
    min-width: 320px;
    overflow-x: hidden;
    color: var(--text-gray);
}

.logo {
    background-color: #f63232;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-transform: capitalize;
    font-size: 25px;
}

.logo-border {
    border: 6px solid white;
    padding: 5px;
    margin: 10px;
    border-radius: 50px;
    font-weight: bold;
}

.baner {
    background-image: url(./img/banner.png);
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 500px;
    display: flex;
}

.tile {
    background-color: var(--tile-orange);
    width: 450px;
    margin-top: 40px;
    font-size: 70px;
    height: fit-content;
    padding: 10px;
    color: white;
    font-weight: 600;
}

.marioclub {
    font-weight: 800;
}

.menu {
    background-color: var(--light-gray);
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-tile {
    width: 25%;
    text-align: center;
}

.menu-tile .link {
    color: black;
    text-decoration: none;
    padding: 15px;
    display: block;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-tile .link:hover {
    color: var(--red);
}

.main-article {
    padding: 80px 40px;

}

.article-header h2 {
    color: var(--red);
    font-size: 42px;
    font-weight: 800;
    margin-bottom: 10px;
}

.desc-head {
    font-weight: bold;
}

.desc {
    line-height: 1.8;
}

.imgbox {
    padding-top: 80px;
    display: flex;
    justify-content: space-around;
}

.img-size {
    width: 40%;
    max-width: 640px;
    transition: 1s;
}

.img-size:hover {
    width: 55%;
}


.join-newsletter {
    background-color: var(--light-gray);
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 60px 20px 60px 20px;
    text-align: center;
}

.join-newsletter-header {
    font-size: 35px;
    text-transform: capitalize;
    font-weight: 800;
}

.copyright {
    background-color: var(--red);
    color: white;
    text-transform: capitalize;
    text-align: center;
    padding: 0 20px 30px 20px;
}

.input {
    background-color: var(--red);
    color: white;
    text-transform: capitalize;
    text-align: center;
    padding: 15px 20px 30px 20px;
}

.email {
    border-radius: 50px;
    border: none;
    padding: 10px;
    width: 220px;
}

@media (max-width:900px) {
    .imgbox {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .img-size {
        max-width: 640px;
        width: 90%;
        padding: 20px;
    }

    .img-size:hover {
        width: 100%;
        max-width: 1000px;
    }

    .tile {
        margin-top: 0;
        width: 100%;
        max-width: none;
        text-align: center;
        font-size: 50px;
        min-width: 0;
    }
}

@media (max-width:425px) {

    .img-size {
        width: 100%;
        max-width: 1000px;
        padding: 20px 0 20px 0;
    }
}

@media (max-width:523px) {
    .menu {
        height: 72px;
    }

    .menu-tile {
        height: 100%;
    }
}